body{
    background-color: #F5F5DC;
}

.nav{
    background-color: #98ff98;
}

.navbar{
    background-color: #98ff98;
}

.table{
    background-color: #b3ffb3;
}

.info{
    background-color: #b3ffb3;
}

.tab {  
    margin-left: 40px; 
}